:root {
    --blue-color:#f7fbff;
    --black-color:#333;
    --boder-color:#f2f2f2;
    --hover-color:#fff;
}

/* -----------------------base reset----------------------- */

*{
    margin: 0;
    padding: 0;
}

/* -----------------------box-sizing------------------------- */

 html {
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

/* ----------------------base styles------------------------- */

body {
    font-family:'Montserrat', sans-serif;
    color: var(--black-color);
    width:1920px;
}

.list {
    text-decoration: none;
    color: var(--black-color);
}

.btn--primary {
    font-weight: 500;
    font-size: 16px;
    color: var(--black-color);
    border: 2px solid var(--black-color);
    padding:20px 40px;
    border-radius: 4px;
}

/* -----------------------header styles----------------------- */

#header {
    /* position: sticky; */
    /* top: 0; */
    display: flex;
}

#navbar { 
    padding:65px 375px 65px 435px;
    display: flex;
}

#header__img {
    padding-top: 50px;
    margin-left:375px;
    padding-bottom: 50px;
}

.navlink {
    list-style-type: none;
    padding-left: 70px;
}

#bars { display: none;}

/* ----------------------banner styles------------------------ */

#banner {
    background-image: url(images/hero-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-right:0px;
    width: 1920px;
    height: 823px;
} 

#banner__heading {
    font-weight: bold;
    font-size: 70px;
    padding-top: 350px;
}

#banner__para {
    font-weight: 500;
    font-size: 28px;
    padding-top: 25px;
    margin-bottom: 350px;
}

/* --------------------about styles------------------------- */

#about__container { margin-bottom: 100px; }

#about {
    margin:100px 0px 0px 0px;
    display: flex;
    width: 1920px;
}

#about__heading {
    position: absolute;
    font-weight: 600;
    font-size: 36px;
    padding-left: 375px;
}

#about__content {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    margin-left: 375px;
    padding-left: 400px;
    padding-right: 375px;
}

#about__btn { margin-left:771px;}

/* --------------------projects styles----------------------- */

#projects__container {
    background-color: var(--blue-color);
    width: 1920px;
    margin:100px 0px 0px 0px;
}

#projects__heading {
    padding-left: 375px;
    padding-right: 375px;
    text-align: center;
}

#projects {
    padding-top: 50px;
    padding-left: 375px;
    padding-right: 375px;
    display: grid;
    grid-template-columns: 367px 367px 367px;
    grid-gap: 34px 34px;
}        

#projects__btn { margin:50px 0px 100px 874px; }

#projects__btn:hover {
    background-color: var(--black-color);
    color: var(--hover-color);
}

/* ---------------------contact styles---------------------- */

#contact {
    width: 1920px;
    margin-top: 100px;
    text-align: center;
}

#contact__heading {
    font-weight: 600;
    font-size: 36px;
}

#contact__content {
    margin-top: 34px;
    margin-bottom: 34px;
    font-weight: normal;
    font-size: 18px;
}

.contact--img {
    padding-left: 10px;
    padding-bottom: 100px;
}

/* -----------------------footer styles------------------------ */

#copy {
    padding-top:45px;
    padding-bottom:45px;
    border: 1px solid var(--boder-color);
}

#copy__content {
    font-weight: lighter;
    font-size: 16px;
    padding-left: 375px;
}